
<div class="container"
fxLayout="row wrap"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="100">
<div>
  <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
  <hr>
</div>
</div>




<style>



</style>





<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
      <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{baseURL+dish.image}} alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}} </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
      <button mat-button (click)="goBack()">BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>

      <span class="flex-spacer"></span>
      <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>



    </mat-card-actions>
    </mat-card>


  </div>


  <div fxLayout="column">
  <div fxFlex="40" *ngIf="dish">

    <mat-card  >
      <mat-card-header>
        <mat-card-title>
          <h3>COMMENTS</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-list *ngFor="let comment of dish.comments" style="font-size: 8;">
             
              <mat-list-item >{{comment["comment"]}} </mat-list-item>
              <mat-list-item>{{comment["rating"]}} star{{ (comment["rating"]>1?"s":"")}}  </mat-list-item>
              <mat-list-item> -- {{comment["author"] }} {{comment["date"] | date}} </mat-list-item>
              

              
              <br>
          </mat-list>



          <mat-list *ngIf="previewComment" style="font-size: 8;">
             <hr>
              <mat-list-item >{{previewComment["comment"]}} </mat-list-item>
              <mat-list-item>{{previewComment["rating"]}} star{{ (previewComment["rating"]>1?"s":"")}}  </mat-list-item>
              <mat-list-item> -- {{previewComment["author"] }} {{previewComment["date"] | date}} </mat-list-item>
              

              
              <br>
          </mat-list>



      </mat-card-content>
      
    </mat-card>


  </div>

  <div [hidden]="dish||errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  


<div fxflex="40" >

  <mat-card style="background:linear-gradient(white,gray );margin-top:10px">
    <mat-card-title> 
      Votre commentaire
    </mat-card-title>




    <mat-card-content >
<form novalidate [formGroup]="commentForm" class="half-width" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p style="border-radius: 1em;;width: 100%">
         <mat-form-field style="min-width: 100%">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
     </p>
          
        <p>
        
          rating  <mat-slider [thumbLabel]="true" style="min-width: 30%" matInput min="0" max="5" step="1" value="5" formControlName="rating" placeholder="Rating" type="Number" required>Rating</mat-slider>
            <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
        
        </p> 
      


           
       <p>
        <mat-form-field style="min-width: 100%" class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your comment here" rows=12 required> </textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        
        </mat-form-field>
      </p>

    
    <button type="submit"  [disabled]="!fform.form.valid"  mat-button class="background-primary text-floral-white">Submit</button>
  </form>
</mat-card-content>
</mat-card>
</div>

</div>